*.log
*.pot
*.pyc
local_settings.py

# virtualenv related
.Python
bin/
include/
lib/
pip-selfcheck.json


# minimal-django-file-upload-example related
myproject/db.sqlite3
myproject/media/documents/**
