[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/django-file-server

# Create directory for server.sock owned by www-data, need root permissions to do that
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -d -o www-data -g www-data /var/run/django-file-server

# Run ExecStart with User=www-data / Group=www-data
ExecStart=/usr/local/bin/gunicorn \
--log-level=debug \
--access-logfile=/var/log/gunicorn/access.log \
--error-logfile=/var/log/gunicorn/error.log \
--capture-output \
--workers=3 \
--timeout 600 \
--bind=unix:/var/run/django-file-server/server.sock \
django_file_server.wsgi

# for debugging: add to ExecStart
#--env=DJANGO_SETTINGS_MODULE=django_file_server.settings_devel \
# notice that we use quite big timeout to allow uploading large files

[Install]
WantedBy=multi-user.target
